body {
    font-family: 'Montserrat';
    margin: 0 0;
    background-color: rgb(241, 241, 241);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
	background-color: #464646;
	color: #fff;
	height: 8vh;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
}

nav a {
	display: flex;
    align-items: center;
	padding: 0 15px;
	color: #fff;
    height: 8vh;
	text-decoration: none;
}

nav a:hover {
	background-color: rgb(108, 108, 108);
	color: #5dc9e4;
}

.titre {
    background-image: url('https://imgs.search.brave.com/8iar_INZu2kmvRgDwz5weXxGEpgqA6Nzr6WuDbxmT9M/rs:fit:1200:588:1/g:ce/aHR0cHM6Ly93d3cu/dGVrc3lzdXNhLmNv/bS9pbWFnZXMvZDEx/YzU1YmU0ZjcxYWVk/OWZmN2QwYmZlZWJi/ZGI4MmIuanBn');
	background-size: cover;
    background-position: center;
    height: 30vh;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre h1 {
    display: flex;
    text-align: center;
	font-size: 10vh;
	margin: 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 62vh;
    width: calc(60vw - (100vw - 100%));
    padding: 0 20vw;
    text-align: justify;
    font-size: 2.5vh;
    position: relative;
}

.presentation div {
    padding: 10vh 0;
}

.presentation ul {
    margin: 0 0;
}

.presentation:before,
.presentation:after {
    content: "";
    position: absolute;
    height: 8vh;
    border-style: solid;
    z-index: -1;
}

.presentation:before {
    left: 0;
    top: 0;
    border-color: transparent transparent transparent rgb(255, 201, 5);
    border-width: 0 0 20vh 10vw;
}

.presentation:after {
    right: 0;
    bottom: 0;
    border-color: transparent  rgb(108, 108, 108) transparent transparent;
    border-width: 20vh 10vw 0 0;
}